Repository Schachjugend/Spielordnung, pull requests merged in 2019-06, with the labels that each got.

#61 Teilnahme von internationalen Mannschaften an der DLM 2020
  Spielordnung.md
Labels: JV2019, Änderung Ausführungsbestimmung, Änderung Spielordnung

#62 Zulassen von Zweitmannschaften zur DVM U14w
  Spielordnung.md
Labels: Beschlossene Änderung, JV2019, Änderung Spielordnung

#63 Freiplätze zur DVM
  Spielordnung.md
Labels: Beschlossene Änderung, JV2019, Änderung Ausführungsbestimmung, Änderung Spielordnung

#64 AB zu 8.3: Nicht wahrgenommene DVM-Plätze
  Spielordnung.md
Labels: Beschlossene Änderung, JV2019, Änderung Ausführungsbestimmung

#65 Antrag Spielberechtigung + Mannschaftsgröße WK II
  Spielordnung.md
Labels: Beschlossene Änderung, JV2019, Änderung Spielordnung
